In [20]:
import pandas as pd
import nltk
nltk.download('stopwords')
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/davideteixeira/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
df = pd.read_csv("complaints.csv")

In [4]:
df.head(3)

,Unnamed: 0,product_5,narrative,Product,Date received,Sub-product,Issue,Sub-issue,Company,State,Timely response?
0,234,Credit Reporting,Dear Possible Financial Inc you guyss aree rep...,Credit reporting or other personal consumer re...,2024-07-27,Credit reporting,Incorrect information on your report,Account information incorrect,Possible Financial Inc,MI,Yes
1,240,Debt Collection,"XXXX XXXX XXXX ( debt collector ), sent my boy...",Debt collection,2024-07-27,I do not know,Threatened to contact someone or share informa...,Talked to a third-party about your debt,BlueChip Financial,TX,Yes
2,257,Credit Reporting,I been receiving alerts my information was fou...,Credit reporting or other personal consumer re...,2024-07-23,Credit reporting,Improper use of your report,Credit inquiries on your report that you don't...,FC HoldCo LLC,SC,Yes

In [5]:
df = df.rename(columns={'product_5': 'Target'})
df = df.rename(columns={'Unnamed: 0': 'Index'})

In [6]:
columns_to_drop = ['Index', 'Date received', 'Company', 'State', 'Timely response?']  # List of columns to remove
df = df.drop(columns=columns_to_drop)

In [7]:
print(df["Target"].nunique())
category_map = {category: idx for idx, category in enumerate(df['Target'].unique())}
df['Target'] = df['Target'].map(category_map)

5

In [8]:
print(df["Product"].nunique())
category_map = {category: idx for idx, category in enumerate(df['Product'].unique())}
df['Product'] = df['Product'].map(category_map)

21

In [9]:
print(df["Sub-product"].nunique())
category_map = {category: idx for idx, category in enumerate(df['Sub-product'].unique())}
df['Sub-product'] = df['Sub-product'].map(category_map)

85

In [10]:
print(df["Issue"].nunique())
category_map = {category: idx for idx, category in enumerate(df['Issue'].unique())}
df['Issue'] = df['Issue'].map(category_map)

173

In [11]:
print(df["Sub-issue"].nunique())
category_map = {category: idx for idx, category in enumerate(df['Sub-issue'].unique())}
df['Sub-issue'] = df['Sub-issue'].map(category_map)

266

In [12]:
df.head()

,Target,narrative,Product,Sub-product,Issue,Sub-issue
0,0,Dear Possible Financial Inc you guyss aree rep...,0,0,0,0
1,1,"XXXX XXXX XXXX ( debt collector ), sent my boy...",1,1,1,1
2,0,I been receiving alerts my information was fou...,0,0,2,2
3,0,Subject : Dispute of Inaccurate Information on...,0,0,2,3
4,2,They allowed me to use the account for about a...,2,2,3,4

In [13]:
df = df.dropna()

In [14]:
df['narrative'] = df['narrative'].str.lower() # Convert to lowercase:

In [15]:
df['narrative'] = df['narrative'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True) # Remove special characters:

In [16]:
df['narrative'] = df['narrative'].str.strip() # Remove extra spaces:

In [17]:
# Remove stopwords
from nltk.corpus import stopwords
stop = set(stopwords.words('english'))
df['narrative'] = df['narrative'].apply(lambda x: ' '.join([word for word in x.split() if word not in stop]))

In [18]:
df.head()

,Target,narrative,Product,Sub-product,Issue,Sub-issue
0,0,dear possible financial inc guyss aree reporti...,0,0,0,0
1,1,xxxx xxxx xxxx debt collector sent boyfriend e...,1,1,1,1
2,0,receiving alerts information found dark web in...,0,0,2,2
3,0,subject dispute inaccurate information corelog...,0,0,2,3
4,2,allowed use account month let get credit build...,2,2,3,4

In [19]:
df.to_csv('complaints_preprocessed.csv', index=False)

In [21]:
def clean_text(text):
    
    text = text.lower()
    text = re.sub(r'[^a-z\s]', '', text)  # Remove special characters & digits
    text = re.sub(r'\s+', ' ', text).strip()  # Remove extra spaces
    return text

df['narrative'] = df['narrative'].apply(clean_text)